account-service: http://localhost:2222; ../sample-spring-microservices/account-service; Java
	module Model: account.model.*
	module SpringBoot: org.springframework.boot.**
	module Main: Application
	module API: account.api.*
	Main must-depend SpringBoot
	Model cannot-depend Main
	API must-useannotation org.springframework.web.bind.annotation.RestController
	only API can-depend Model
customer-service: http://localhost:3333; ../sample-spring-microservices/customer-service; Java
	module Intercomm: customer.intercomm.*
	module API: customer.api.*
	module SpringBoot: org.springframework.boot.**
	module Main: Application
	Main must-depend SpringBoot
	only Intercomm can-depend org.springframework.cloud.netflix.feign.FeignClient
	API must-useannotation org.springframework.stereotype.Controller
	Model cannot-depend Main
only customer-service can-communicate account-service using /accounts/customer/{customerId}

